<ul class="list-group">
    <!-- <li class="list-group-item" *ngFor="let student of students; index as i" >
        {{student.name}} {{student.surname}}
        <button class="btn btn-success float-end" (click)="dalyvauja(student.name, student.surname, i)">Dalyvauja</button>
        <button class="btn btn-danger float-end" (click)="nedalyvauja(student.name, student.surname, i)">Nedalyvauja</button>
    </li> -->
    <li class="list-group-item" *ngFor="let student of students; index as i" >
        {{student.name}} {{student.surname}}
        <!-- <button class="btn btn-success float-end mx-1" (click)="dalyvauja(student.name, student.surname, i, groupName, groupLocation)">Dalyvauja</button>
        <button class="btn btn-danger float-end mx-1" (click)="nedalyvauja(student.name, student.surname, i, groupName, groupLocation)">Nedalyvauja</button> -->
        <button id="dal" class="btn btn-success float-end mx-1" (click)="arDalyvauja($event, student.name, student.surname, i, groupName, groupLocation)">Dalyvauja</button>
        <button id="nedal" class="btn btn-danger float-end mx-1" (click)="arDalyvauja($event, student.name, student.surname, i, groupName, groupLocation)">Nedalyvauja</button>
    </li>
</ul>

<div class="card">
    <div class="card-header" (click)="pridetiVisible=!pridetiVisible">Pridėti studentą</div>
    <div class="card-body" *ngIf="pridetiVisible">
        <div class="mb-3">
            <label class="form-label">Vardas</label>
            <input type="text" class="form-control" #inputName>
        </div>
        <div class="mb-3">
            <label class="form-label">Pavardė</label>
            <input type="text" class="form-control" #inputSurname>
        </div>
       
        <button class="btn btn-success" (click)="addStudent()">Pridėti</button>

    </div>
</div>
